{{ super() }}
{% if page and page.meta and page.meta.git_revision_date_localized %}
  {% set revision = page.meta.git_revision_date_localized %}
  {% set iso = page.meta.git_revision_date_localized_raw_iso_datetime | default(None, true) %}
  {% if iso %}
    {% set iso = iso | replace(' ', 'T') %}
    {% if 'T' in iso %}
      {% set time_part = iso.split('T')[1] %}
      {% if 'Z' not in iso and '+' not in time_part and '-' not in time_part %}
        {% set iso = iso ~ 'Z' %}
      {% endif %}
    {% endif %}
  {% else %}
    {% set iso = page.meta.git_revision_date_localized_raw_iso_date | default(None, true) %}
  {% endif %}
  {% if iso is none %}
    {% if revision is string %}
      {% set iso = revision %}
    {% else %}
      {% set iso_attr = revision | attr('isoformat') %}
      {% if iso_attr is defined %}
        {% if iso_attr is callable %}
          {% set iso = iso_attr() %}
        {% else %}
          {% set iso = iso_attr %}
        {% endif %}
      {% endif %}
      {% if iso is none %}
        {% set iso = revision %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if iso %}
    <meta name="page:git-revision-date-iso" content="{{ iso | e }}">
    <script>
      (function () {
        var revisionMeta = document.querySelector('meta[name="page:git-revision-date-iso"]');
        window.__SAFEAI_PAGE_REVISION__ = revisionMeta ? revisionMeta.content : undefined;
      })();
    </script>
  {% endif %}
{% endif %}
